.Table {
    width: 100%;
    zoom: 1;
}

th {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;   
    font-size: 0.75em;
    height: 41px;
    color: #88979d;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    font-weight: normal;
    text-align: left;
    border-spacing: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    
    }

td {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;   
    font-size: .875rem;
    line-height: 1rem;
    height: 2.3em;
    color: #383e41;
    border-top: 1px solid rgba(0,0,0,0.15);
}

.positive-change {
    background-color: #c4ecbb;
    padding: .125rem .4375rem;
    font-size: .875rem;
    border-radius: .6875rem;
}

.negative-change {
    background-color: #f7c1b5;
    padding: .125rem .4375rem;
    font-size: .875rem;
    border-radius: .6875rem;
}

.table-row-name {
    padding-left: 20px;
}